@import "variables";
@import "../common/mixins";
@import "../common/global";
@import "../common/icons";

@import "~bootstrap/scss/bootstrap";
@import "global";
@import "../common/buttons";
@import "../common/flex";
@import "mobile";
@import "form";
@import "print_preview";
@import "scrollbar";
@import "navbar";
@import "../common/modal";
@import "slides";
@import "../common/toast";
@import "breadcrumb";
@import "../common/indicator";
@import "../common/flex";
@import "tags";
@import "page";
@import "timeline";
@import "avatar";
@import "notification";
@import "global_search";
@import "desktop";
@import "../common/awesomeplete";
@import "sidebar";
@import "filters";
@import "list";
@import "report";
@import "file_view";
@import "frappe_datatable";
@import "frappe_gantt";
@import "image_view";
@import "kanban";
@import "calendar";
@import "dashboard_view";
@import "tree";
@import "../common/controls";
@import "data_import";
@import "driver";
@import 'slides';
@import "role_editor";
@import "user_profile";
@import "theme_switcher";
@import "link_preview";
@import "resource_calendar";
@import "../common/quill";
@import "plyr";
