<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/assets/frappe/css/bootstrap.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet"
        href="/assets/frappe/css/fonts/fontawesome/css/all.css">
	<title>{{ title or "" }}</title>
</head>

<body>
	{% if letter_head and not no_letterhead %}
		<div class="letter-head">{{ letter_head }}</div>
	{% endif %}

	<div class="container" style="margin-top: 200px;">
		{{ content }}
	</div>
	
</body>

</html>