$primaryColor: #6195FF;
$baseBg: #fff;
$darkenBg: #f5f7fa;
$lightenBg: #e0e0e0;

$itemColor: #262626;

$itemOpenColor: #fff;
$itemOpenBg: $primaryColor;

$itemHoverColor: #fff;
$itemHoverBg: $primaryColor;

$iconActiveColor: #fff;
$iconActiveBg: #262626;

$iconOpenColor: #fff;
$iconOpenBg: transparent;

$mobileItemColor: #fff;
$mobileItemBg: $primaryColor;
$mobileIconBg: transparent;
$mobileIconColor: #fff;

$dropDownColor: #262626;
$dropDownBg: #e3e3e3;

.v-sidebar-menu {
	& , * {
	  box-sizing: border-box;
	}
	& {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		padding-bottom: 50px;
		z-index: 999;
		transition: 0.3s width;
		box-shadow: 1px 0 0 0 #e6ebf1;
		&.rtl {
			right: 0;
			left: inherit;
			text-align: right;
		}
		& > .vsm-list {
			padding-top: 45px;
			width: 100%;
			height: 100%;
			overflow-y: auto;
			scrollbar-width: none;
		}
		& > .vsm-list::-webkit-scrollbar {
			display: none !important;
		}
		&.vsm-collapsed > .vsm-list {
			width: calc(100% + 17px);
			padding-right: 17px;
		}
		&.rtl > .vsm-list {
			direction: rtl;
		}
		&.vsm-collapsed.rtl > .vsm-list {
			padding-right: 0px;
			padding-left: 17px;
			float: right;
		}
	}
	& .vsm-item {
		position: relative;
		& > .vsm-link {
		& > .vsm-icon {
			height: 30px;
			line-height: 30px;
			width: 30px;
			text-align: center;
			border-radius: 3px;
			& > .selected-module {
				border-radius: 4px;
				display: inline-block;
				color: #fff;
				background-color: $primaryColor;
			}
		}
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		}
	}
	& .vsm-link {
		position: relative;
		display: block;
		font-size: 16px;
		font-weight: 400;
		padding: 10px;
		line-height: 30px;
		text-decoration: none;
		z-index: 20;
		transition: 0.3s all;
		&[disabled] {
			opacity: 0.4;
			pointer-events: none;
		}
	}
	& .vsm-title {
		display: block;
		white-space: nowrap;
	}
	& .vsm-icon {
		float: left;
		line-height: 30px;
		margin-right: 10px;
	}
	&.rtl .vsm-icon {
		float: right;
		margin-left: 10px;
		margin-right: 0px;
	}
	& .vsm-badge {
		padding: 0px 6px;
		font-size: 12px;
		border-radius: 3px;
		position: absolute;
		right: 10px;
		height: 20px;
		line-height: 20px;
		margin-top: 5px;
		font-weight: 600;
		text-transform: uppercase;
	}
	&.rtl .vsm-badge {
		left: 10px;
		right: inherit;
	}
	& .collapse-btn {
		display: block;
		text-align: center;
		font-style: normal;
		font-weight: 900;
		position: absolute;
		height: 35px;
		left: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		border: none;
		width: 100%;
	}
	& .down-btn {
		&:after {
			content: '\eb38';
			font-family: 'unicons';
			font-size: 1.3em;
		}
	}
	& .up-btn {
		&:after {
			content: '\eb5d';
			font-family: 'unicons';
			font-size: 1.3em;
		}
	}
}

.v-sidebar-menu {
	background-color: $baseBg;
	& .vsm-link {
		color: $itemColor;
	}
	& .vsm-item.first-item {
		&.active-item > .vsm-link, &.parent-active-item > .vsm-link {
			box-shadow: 3px 0px 0px 0px $primaryColor inset;
			& > .vsm-icon {
				color: $iconActiveColor;
				background-color: $iconActiveBg;
			}
		}
	}
	&.rtl .vsm-item.first-item {
		&.active-item > .vsm-link, &.parent-active-item > .vsm-link {
			box-shadow: -3px 0px 0px 0px $primaryColor inset;
		}
	}
	&.vsm-default {
		& .vsm-item.first-item {
			&.open-item > .vsm-link {
				color: $itemOpenColor;
				background-color: $itemOpenBg;
				& > .vsm-icon {
					color: $iconOpenColor;
					background-color: $iconOpenBg;
				}
			}
		}
		& .vsm-link:hover {
			color: $itemHoverColor;
			background-color: $itemHoverBg;
			& .vsm-icon {
				color: $itemHoverColor !important;
			}
		}
	}
	& .collapse-btn {
		color: $itemColor;
		background-color: $darkenBg;
		outline-color: $darkenBg;
	}
}

.vsm-list-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 998;
}