:root {
    // Input Padding
    --input-padding: 6px 8px;
    --dropdown-padding: 4px 8px;
    --grid-padding: 7px 8px 6px 8px;
    --disabled-input-padding: 6px 8px;
    --number-card-padding: 12px 8px;
}