{% extends "templates/web.html" %}

{% block title %} {{ _("Payment") }} {% endblock %}

{%- block header -%}{% endblock %}

{% block script %}
<script src="https://js.braintreegateway.com/web/dropin/1.20.0/js/dropin.min.js"></script>
<script>{% include "templates/includes/integrations/braintree_checkout.js" %}</script>
{% endblock %}

{%- block page_content -%}
<div class="row braintree">
	{% if image %}
	<div class="col-12 text-center">
		<img class="mx-auto h-75" src={{image}}>
	</div>
	{% endif %}
	<div class="col-12 col-lg-8 offset-lg-2">
		<div id="dropin-container"></div>
   		<button class="btn btn-primary" type="submit" id="submit-button" disabled><span>{{ _("Pay") }} {{ formatted_amount }}</span></button>
	</div>

	<div class="col-12 mt-5">
		<div class="text-right font-weight-bold">
			<div class="error" id="error-msg" style="color: #fa755a; display: none"></div>
			<button class="btn btn-primary error" style="display: none;" id="card-reload">{{_('Try Again')}}</button>
			<div class="success" style="display: none;">{{ _("Your payment has been successfully registered.") }}</div>
		</div>
	</div>
</div>

<style>
#submit-button {
	float: right;
}
</style>
{% endblock %}
