{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}
{% endblock %}

{% block script %}
<script src="https://js.stripe.com/v3/"></script>
<script>{% include "templates/includes/integrations/stripe_checkout.js" %}</script>
{% endblock %}

{%- block page_content -%}

<div class="row stripe">
	{% if image %}
	<div class="col-12 text-center">
		<img class="mx-auto h-75" src={{image}}>
	</div>
	{% endif %}
	<div class="col-12">
		<h2 class="text-center">{{description}}</h2>
		<form id="payment-form">
				<div class="form-group">
					<label>
						<span>{{ _("Name") }}</span>
						<input id="cardholder-name" name="cardholder-name" class="field" placeholder="{{ _('John Doe') }}" value="{{payer_name}}"/>
					</label>
				</div>
				<div class="form-group">
					<label>
						<span>{{ _("Email") }}</span>
						<input id="cardholder-email" name="cardholder-email" class="field" placeholder="{{ _('john@doe.com') }}" value="{{payer_email}}"/>
					</label>
				</div>
				<div class="form-group">
					<label>
						<span>{{ _("Card Details") }}</span>
						<div id="card-element" name="card-element" class="field"></div>
					</label>
				</div>

			<div class="text-right" id="card-errors" role="alert" style="color: #fa755a;"></div>
			<button type="submit" class="submit" id="submit">{{_('Pay')}} {{ amount }}</button>
		</form>
	</div>
	<div class="col-12 mt-5">
		<div class="text-right font-weight-bold">
			<div class="error" style="color: #fa755a;" hidden>{{ _("An error occured during the payment process.<br>Please contact us.") }}</div>
			<div class="success" hidden>{{ _("Your payment has been successfully registered.") }}</div>
		</div>
	</div>
</div>


{% endblock %}
