@import "variables";
@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/list/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.fc {
	//font-size: $text-medium;

	.fc-toolbar.fc-header-toolbar {
		margin-top: 1.5em;
		padding: 0 1.5em;
		h2 {
			font-size: 1.2em !important;
		}
	}

	.fc-view-harness {
		margin-left: -1px;
		margin-right: -1px;
	}

	.fc-theme-standard th,
	.fc-theme-standard td,
	.fc-theme-standard hr,
	.fc-theme-standard thead,
	.fc-theme-standard tbody {
		border-color: $border-color;
	}

	th.fc-col-header-cell.fc-day {
		text-align: right !important;
		padding: 10px 12px 10px 0 !important;
		text-transform: uppercase;
		font-size: 12px;
		background-color: #f7fafc;
		color: #8c99a5;
	}

	.fc-button {
		height: auto !important;
		//font-size: $text-small !important;
		outline: none !important;
		line-height: 10pt !important;
		.fc-icon {
			top: -1px !important;
			//font-size: $text-small !important;
		}
	}

	.fc-scroller {
		scrollbar-width: 5px;
		scrollbar-color: #dfe8ff #fff;
	}

	.fc-scroller::-webkit-scrollbar {
		width: 5px;
		background-color: #fff;
	}

	.fc-scroller::-webkit-scrollbar-thumb {
		background-color: #dfe8ff;
	}

	/*@media (max-width: $screen-xs) {
		.fc-scroller {
			height: auto !important;
		}
	}*/
}