@import "variables";
@import "calendar-base";

.fc {
	.fc-toolbar.fc-header-toolbar {
		margin-top: 1.5em;
		padding: 0 1.5em;
		h2 {
			font-size: 1.2em !important;
		}
	}

	.fc-event {
		border: 5px solid;
		border-right: none;
		border-top: none;
		border-bottom: none;
	}
}