.custom-actions {
	&> div,
	&>button {
		margin: 2px
	}
}

.form-control {
	border-width: 1px;
	border-color: var(--gray-400);
	border-style: none none solid;
	background-color: $control-bg;
	color: $text-color;
	box-shadow: none;
	border-radius: $border-radius;
	font-size: var(--text-md);
}

.frappe-control.has-error {
	.form-control {
		border-color: var(--orange-400);
		background-color: var(--orange-100);
	}
}

.form-section .section-body {
	width: 100%;
	@extend .row;
	margin: 0;
	padding-top: 15px;
}

.form-section {
	margin: 0px;

	.form-section-description {
		margin-bottom: 10px;
	}

	.section-head {
		@extend .head-title;
		width: 100%;
		padding: var(--padding-sm) var(--padding-md);
		margin: 0;
		cursor: pointer;

		.collapse-indicator {
			float: right;
		}

	}
	.section-head.collapsed {
		margin-bottom: 0px;
	}

	.form-group {
		margin-bottom: 0;
	}
}

.empty-section {
	display: none !important;
}

.modal {
	.form-section {
		.form-column {
			padding: 0;
		}
	}
}


.form-section.card-section {
	margin: var(--margin-lg) 0px;
	@extend .frappe-card;
}

.form-dashboard {
	.section-head {
		font-size: var(--text-xl);
		color: var(--yellow-400);
	}

	.form-dashboard-section {
		padding: var(--padding-md);
		border-bottom: 1px solid var(--border-color);
	}

	.form-dashboard-section:first-child {
		padding-top: 0px;
	}

	.form-dashboard-section:last-child {
		border-bottom: none;
	}

	h6 {
		color: var(--blue-400);
	}

	.btn-new > .icon {
		stroke: var(--yellow-200);
	}
}

.control-label,
.grid-heading-row {
	color: var(--text-light);
	font-size: var(--text-sm);
}

.form-inner-toolbar {
	padding-top: var(--padding-md);
	text-align: right;
}

.form-control.bold {
	font-weight: 500;
}

.like-disabled-input {
	margin-bottom: 7px;
	border-radius: $border-radius;
	min-height: 30px;
	font-weight: 400;
	color: var(--gray-500);
	background-color: var(--control-bg);
	padding: var(--padding-xs) var(--padding-sm);
}

.comment-box {
	@include card();
	padding: 25px var(--padding-xl);
	.comment-input-header {
		@extend .head-title;
		margin-bottom: var(--margin-sm);
	}
	.comment-input-container {
		.frappe-control {
			margin-bottom: var(--margin-xs);
		}
		.ql-editor {
			background-color: var(--control-bg);
			border-color: var(--gray-400);
			border-style: none none solid;
			border-width: 1px;
		}
	}

	.btn-comment {
		margin-top: var(--margin-md);
	}
}

.form-dashboard-wrapper {
	width: 100%;
}

.form-links {
	color: var(--text-color);
	.form-link-title {
		margin-top: var(--margin-md);
		margin-bottom: var(--margin-sm);
		font-weight: var(--text-bold);
		padding: 0 var(--padding-xs);
	}
	.row:first-child {
		.form-link-title {
			margin-top: 0;
		}
	}
	.document-link {
		margin-bottom: var(--margin-xs);
		.badge-link {
			font-size: var(--text-xs);
			color: var(--text-light);
			padding: 0 var(--padding-xs);
			border-radius: var(--border-radius);
			&:hover:not([disabled='disabled']) {
				text-decoration: underline;
			}
		}
		.count {
			font-size: var(--text-xs);
			border-radius: var(--border-radius-sm);
			color: var(--text-muted);
			padding: 0 var(--padding-xs);
		}
		.open-notification {
			background:var(--pacific-blue-400);
			font-size: var(--text-xs);
			padding: 0 var(--padding-sm);
			color: white;
			border-radius:10px;
			cursor: pointer;
		}
		.btn-new, .open-notification {
			margin-left: var(--margin-sm);
		}
	}
}

.inline-graph {
	.inline-graph-half {
		width: 48%;
		display: inline-block;
		position: relative;
		height: 30px;

		.inline-graph-count {
			font-size: 10px;
			position: absolute;
			left: 0;
			right: 0;
			top: 3px;
			padding: 0px 5px;
			text-align: left;
		}
		.inline-graph-bar {
			position: absolute;
			left: 0;
			right: 0;
			top: 20px;
		}
		.inline-graph-bar-inner {
			display: block;
			float: left;
			background-color: var(--border-color);
			height: 6px;
			border-radius: 0px 3px 3px 0px;
		}
		.inline-graph-bar-inner.dark {
			background-color: var(--primary-color);
		}

	}
	.inline-graph-half:first-child {
		border-right: 1px solid var(--border-color);
		margin-right: -3px;

		.inline-graph-count {
			text-align: right;
		}

		.inline-graph-bar-inner {
			float: right;
			border-radius: 3px 0px 0px 3px;
		}
	}
}

.form-message {
	padding: var(--padding-md) var(--padding-xl);
}