@import "variables";
@import "/assets/frappe/css/fonts/fontawesome/css/all.css";
@import "~bootstrap/scss/bootstrap";
@import "multilevel-dropdown";
@import "website-image";

html {
	height: 100%;
  }

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 16px;

	> div {
		flex: 1 0 auto;
	}
}

footer {
	flex-shrink: 0;
}

a:hover {
	background-color: $gray-100;
	text-decoration: None;
}

.nav-link:hover {
	background-color: $gray-200;
}

// make navbar padding consistent with the page
.navbar {
	padding-left: 0;
	padding-right: 0;

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.navbar.bg-dark {
	.dropdown-menu {
		font-size: .75rem;
		background-color: $dark;
		border-radius: 0;
	}

	.nav-link {
		white-space: nowrap;
		color: $light;

		&:hover {
			color: $primary;
		}
	}

	.nav-item {
		padding: 0rem 1rem;
	}

	.dropdown-item {
		color: $light;

		&:hover {
			background-color: $dark;
			color: $primary;
		}
	}
}


.input-dark {
	background-color: $dark;
	border-color: darken($primary, 40%);
	color: $light;
}

.breadcrumb {
    padding-left: 0;
    padding-right: 0;
    background-color: white;
}

a.card {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.hidden {
	@extend .d-none;
}

.hide-control {
	@extend .d-none;
}

.text-underline {
	text-decoration: underline;
}

.text-extra-muted {
	color: #d1d8dd !important;
}

.web-footer {
	padding: 5rem 0;
	min-height: 140px;
	border-top: 1px solid $border-color;
}

.footer-group-label {
	color: $text-muted;
}

.footer-parent-item {
	margin-bottom: 1rem;
}

.no-underline {
    text-decoration: none !important;
}

.indicator {
	font-size: inherit;
}

h4.modal-title {
	font-size: 1em;
}

h5.modal-title {
	margin: 0px !important;
}

.col-xs-1 { @extend .col-1; }
.col-xs-2 { @extend .col-2; }
.col-xs-3 { @extend .col-3; }
.col-xs-4 { @extend .col-4; }
.col-xs-5 { @extend .col-5; }
.col-xs-6 { @extend .col-6; }
.col-xs-7 { @extend .col-7; }
.col-xs-8 { @extend .col-8; }
.col-xs-9 { @extend .col-9; }
.col-xs-10 { @extend .col-10; }
.col-xs-11 { @extend .col-11; }
.col-xs-12 { @extend .col-12; }

.btn-default { @extend .btn-light; }

.btn-xs { @extend .btn-sm; }

.hidden-xs {
	@extend .d-none;
	@extend .d-sm-block;
}

.visible-xs {
	@extend .d-block;
	@extend .d-sm-none;
}

.form-section {
	margin-right: -45px;
}

.form-section .section-body {
	width: 100%;
	padding: 15px;
	@extend .row;
}

.pull-right {
	float: right;
}

// Alert
#alert-container {
	position: fixed;
	bottom: 0px;
	right: 20px;
	z-index: 1050;
}

#alert-container .desk-alert {
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	min-width: 200px;
	max-height: 200px;
	background-color: $light-yellow;
	border: 1px solid $border-color;

	// word-break: break-all;
	overflow-y: auto;
	position: relative;
	transform: translateX(calc(100% + 20px));
	transition: transform 300ms ease;
	padding: 0px;

	.alert-message {
		padding: 10px 40px 10px 10px;

		.indicator::before {
			margin-bottom: 1px;
		}
	}

	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		color: inherit;
		opacity: 1;
		font-size: inherit;
	}

	.next-action-container {
		display: flex;

		.next-action {
			border: none;
			background: none;
			width: 100%;
			border-top: 1px solid $border-color;
			border-right: 1px solid $border-color;
			padding: 7px;
			outline: none;
			font-size: 12px;
			font-weight: bold;
			color: $text-light;

			&:hover {
				background-color: darken($light-yellow, 5%);
			}

			&:last-child {
				border-right: none;
			}
		}
	}
}

.awesomplete {
	display: inline-block;
	position: relative;

	[hidden] {
		display: none;
	}

	.visually-hidden {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}

	&> input {
		display: block;
	}

	width: 100%;

	&> ul:empty {
		display: none;
	}

	&> ul {
		position: absolute;
		left: 0;
		min-width: 100%;
		box-sizing: border-box;
		list-style: none;
		padding: 0;
		margin: 0;
		background: #fff;
		transition: none;
		background-color: #fff;
		max-height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
		border-radius: 0px 0px 4px 4px;
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
		border: 1px solid $border-color;
		z-index: 1041 !important;
		text-shadow: none;

		li[aria-selected="true"] mark, mark {
			padding: 0px;
			background-color: inherit;
		}

		&> li {
			cursor: pointer;
			font-size: 12px;
			padding: 9px 11.8px;
		}

		&> li .link-option {
			font-weight: normal;
		}

		&> li:hover, &> li[aria-selected=true] {
			background-color: $btn-bg;
			color: $text-color;
			text-shadow: none;
		}

		a:hover {
			text-decoration: none;
		}

		p {
			margin: 3px 0;
		}
	}

	@media (max-width: $screen-sm) {
		&>ul {
			top: 26px;
		}
	}
}