@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_thin.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_thin.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_thinitalic.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_thinitalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_extralight.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_extralight.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_extralightitalic.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_extralightitalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_light.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_light.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_lightitalic.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_lightitalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_regular.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_regular.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_italic.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_italic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_medium.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_medium.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_mediumitalic.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_mediumitalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_semibold.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_semibold.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_semibolditalic.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_semibolditalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_bold.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_bold.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_bolditalic.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_bolditalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_extrabold.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_extrabold.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_extrabolditalic.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_extrabolditalic.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_black.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_black.woff?v=3.19") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("/assets/frappe/css/fonts/inter/inter_blackitalic.woff2?v=3.19") format("woff2"),
		url("/assets/frappe/css/fonts/inter/inter_blackitalic.woff?v=3.19") format("woff");
}

/* Variable font */
@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("/assets/frappe/css/fonts/inter/inter_roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url("/assets/frappe/css/fonts/inter/inter_italic.var.woff2?v=3.19") format("woff2");
}