<div class="web-list-item transaction-list-item" id="{{ doc.name }}">
	<a class="w-100" href="{{ "/" + doc.route }}">
		<div class="flex {% if doc.event_status == 'past' %}past-event{% endif %}">
			<div
				{% if doc.image -%}
				style="background: url('{{ frappe.utils.quoted(doc.image) | abs_url }}') center/contain no-repeat;min-width: 10%;"
				{%- endif %}>
			</div>
			<div class="event-row-content {% if doc.image %}pl-2{% endif %}">
				<div>
					<div>{{ doc.title or doc.name }}
						{% if doc.event_status == 'past' %}
						<span class="indicator-pill small darkgray">
							{{ _("Past Event") }}
						</span>
						{% else %}
						<span class="indicator-pill small {{ "red" if doc.status == "Cancelled" else ("darkgray" if doc.status == "Closed" else "green") }}">
							{{ _(doc.status) }}
						</span>
						{% endif %}
					</div>
					<div class="small text-muted transaction-time"
						title="{{ frappe.utils.format_datetime(doc.starts_on, "medium") }}">
						{% if frappe.utils.getdate(doc.starts_on) != frappe.utils.getdate(doc.ends_on) %}
							{{ frappe.utils.global_date_format(doc.starts_on) }}-{{ frappe.utils.global_date_format(doc.ends_on) }}
						{% else %}
							{{ frappe.utils.global_date_format(doc.starts_on) }}
						{% endif %}
					</div>
					<div class="small text-muted transaction-time">
						{% if doc.all_day %}
							{{ _("All Day") }}
						{% else %}
							{{ frappe.utils.get_time(doc.starts_on).strftime("%H:%M") }}-{{  frappe.utils.get_time(doc.ends_on).strftime("%H:%M") }}
						{% endif %}
						{% if doc.repeat %}
						<span>{{ doc.repeat }}</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</a>
	{% if doc.recurrences %}
	<div>
		<button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ _("Additional dates")}}
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			{% for recurrence in doc.recurrences %}
				<a class="dropdown-item" href="#">{{ frappe.utils.global_date_format(recurrence.starts_on) }}</a>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>


<style>
	.past-event {
		color: var(--gray-700);
	}
</style>