<div class="web-list-item transaction-list-item" id="{{ doc.name }}">
	<a href="{{ doc.route }}">
		<div>{{ doc.title or doc.name }}</div>
		<div class="small text-muted transaction-time"
			title="{{ frappe.utils.format_datetime(doc.starts_on, "medium") }}">
			{{ frappe.utils.global_date_format(doc.starts_on) }}
		</div>
		<div class="small text-muted transaction-time">
			{{ frappe.utils.get_time(doc.starts_on).strftime("%H:%M") }}-{{  frappe.utils.get_time(doc.ends_on).strftime("%H:%M") }}
		</div>
	</a>
</div>
