<!-- sitemap -->
{% extends "templates/web.html" %}

{% block header %}
<h1 itemprop="headline">{{ title }}</h1>
{% endblock %}

{% block header_actions %}
	{% if show_close_button %}
		<button class="btn btn-secondary close-btn" onclick="history.back()">{{ _("Close") }}</button>
	{% endif %}
{% endblock %}

{% block page_content %}
	<div class="mb-5">
		{% if doc.image %}
		<img class="card-img-top" src="{{ doc.image }}" alt="{{ doc.subject }}">
		{% endif %}

		<div class="card-body event-info">
			{% if not portal_print_format %}
				<h5 class="card-title">{{ subject or "" }}</h5>
			{% endif %}

			{{ content }}

			{% if attachments %}
			<ul class="list-group mb-4">
				{% for attachment in attachments %}
				<li class="list-group-item">
					<span><i class="uil uil-file"></i></span>
					<a href="{{ attachment.file_url }}" target="_blank">
						<span class="ml-1">{{ attachment.file_name }}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block style %}
	<style>{{ event_style }}</style>
{% endblock%}
