.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin button-with-outline($outlineColor, $outlineWidthInitial: 0px, $outlineWidthHover: 2px) {
	& {
		--btn-outline-color: #{$outlineColor};
		--btn-outline-width: #{$outlineWidthInitial};
		overflow: visible;
		box-shadow: 0 0 0 var(--btn-outline-width) var(--btn-outline-color), var(--btn-shadow) !important;
		transition-timing-function: cubic-bezier(0.2, 0.9, 0.3, 1.2);
	}
	&:hover:not(:active), &:focus-visible {
		--btn-outline-width: #{$outlineWidthHover};
	}
	&:focus-visible {
		text-decoration: underline;
		text-underline-position: below;
	}
}

.btn {
	background-color: var(--neutral-white);
	border: none;
	// padding: 4px 8px; // breaks buttons on the website
	border-radius: var(--border-radius);
	box-shadow: var(--btn-shadow);
	--icon-stroke: currentColor;
	@include get_textstyle("base", "medium");

	&:active {
		--btn-shadow: var(--focus-default);
	}

	&.icon-btn {
		height: var(--btn-height);
		padding: 0px;
		@extend .center-content;
		&.btn-default, &.btn-secondary {
			min-width: 28px;
		}
	}

	transition: all 0.2s ease;
	transition-property: color, background-color, border, opacity, box-shadow;

	&:hover:not(:active), &:focus-visible {
		--btn-shadow: var(--btn-shadow-hover);
	}
}

.btn-secondary-dark {
	@include button-variant(
		$background: $gray-600,
		$border: $gray-600,
		$hover-background: lighten($gray-600, 1%),
		$hover-border: $gray-600,
		$active-background: lighten($gray-600, 1%),
		$active-border: darken($gray-600, 12.5%)
	);

	color: $white;
	&:hover, &:active, &:focus {
		color: $white;
	}
	.icon {
		--icon-stroke: currentColor;
	}
}

.btn.btn-primary-light {
	color: var(--primary);
	background-color: var(--neutral-white);
	--icon-stroke: currentColor;
	@include button-with-outline(var(--primary), 1px);

	[data-theme="dark"] & {
		color: var(--text-color);
		background-color: var(--bg-dark-blue);
	}
}

.btn.btn-secondary {
	background-color: var(--control-bg);
	color: var(--text-color);
	&:hover:not([disabled]), &:active {
		background-color: var(--btn-default-hover-bg);
		color: var(--text-color);
	}
}

.btn.btn-default {
	background-color: var(--fg-color);
	color: var(--text-color);
	&:hover:not(:active), &:focus-visible {
		background: var(--btn-default-hover-bg);
		color: var(--text-color);
	}
}

.btn.btn-primary {
	background-color: var(--btn-primary) !important;
	color: var(--neutral-white);
	white-space: nowrap;
	--icon-stroke: currentColor;
	--icon-fill-bg: var(--btn-primary);
	@include button-with-outline(var(--btn-primary));
}

.btn.btn-danger {
	background-color: var(--danger);
	color: var(--white);
	--icon-stroke: currentColor;
	@include button-with-outline(var(--danger));
}

.btn-reset {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: inherit;
	background-color: inherit;
}

@mixin button-text-variant($fg, $bg) {
	box-shadow: none;
	border: none;
	text-decoration: underline;

	background-color: transparent;
	color: $bg;
	--icon-stroke: currentColor;
	font-weight: 600;

	&:hover:not(:active) {
		background-color: $bg;
		color: $fg;
	}

	.icon:first-child {
		margin-right: 2px;
	}
	.btn-primary:active {
			color: var(--gray-900) !important;
			background-color: var(--invert-neutral) !important;
	}
}

.btn.btn-text-primary {
	@include button-text-variant(var(--white), var(--primary));
}
.btn.btn-text-danger {
	@include button-text-variant(var(--alert-bg-danger), var(--alert-text-danger));
}
